@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

@media (orientation: landscape) 
{

body 
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    background: #202020;
    overflow: hidden;
}

.card 
{
    height: 500px;
    width: 300px;
    background: rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(150px);
    border-radius:12px;
    border-top: 1px solid rgb(125, 125, 125);
    border-left: 1px solid rgb(125, 125, 125);
    z-index: 2;
    margin-bottom: 40px;

}


.card .content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;

}

.card .content .picture
{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;
}

.card .content .picture img
{
    width: 100%;
    height: 100%;
}

.card .content h1,
.card .content a,
.card .content p
{
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;

}

.card .content a
{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(to bottom, #7d6b91 ,rgb(78, 56, 85));
    width: 200px;
    padding: 8px 0;
    border-radius: 12px;
    margin-top: 40px;
    color: #fff;
}

.card .content h1
{
    margin-bottom: 10px;
}

.card2
{
    height: 500px;
    width: 300px;
    background: rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(150px);
    border-radius:12px;
    border-top: 1px solid rgb(125, 125, 125);
    border-left: 1px solid rgb(125, 125, 125);
    z-index: 2;
    margin-bottom: 40px;
}


.card2 .content2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;

}

.card2 .content2 .picture2
{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;
}

.card2 .content2 .picture2 img
{
    width: 100%;
    height: 100%;
}

.card2 .content2 h1,
.card2 .content2 a,
.card2 .content2 p
{
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;

}

.card2 .content2 a
{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(to bottom, #7d6b91 ,rgb(78, 56, 85));
    width: 200px;
    padding: 8px 0;
    border-radius: 12px;
    margin-top: 40px;
    color: #fff;
}

.card2 .content2 h1
{
    margin-bottom: 10px;
}


.card3
{
    height: 500px;
    width: 300px;
    background: rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(150px);
    border-radius:12px;
    border-top: 1px solid rgb(125, 125, 125);
    border-left: 1px solid rgb(125, 125, 125);
    z-index: 2;
    margin-bottom: 40px;
}


.card3 .content3
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;

}

.card3 .content3 .picture3
{
    width: 170px;
    height: 170px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;
}

.card3 .content3 .picture3 img
{
    width: 100%;
    height: 100%;
}

.card3 .content3 h1,
.card3 .content3 a,
.card3 .content3 p
{
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;

}

.card3 .content3 a
{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(to bottom, #7d6b91 ,rgb(78, 56, 85));
    width: 200px;
    padding: 8px 0;
    border-radius: 12px;
    margin-top: 40px;
    color: #fff;
}

.card3 .content3 h1
{
    margin-bottom: 10px;
}


.container
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}



.block
{
    position: absolute;
    width: 50px;
    height: 50px;
    background: #272838;
    box-shadow:10px 10px 30px rgba(0, 0, 0, 0.25);
}

.block:nth-child(3n+2)
{
    background: #5d536b;
}

.block:nth-child(3n+3)
{
    background: #f4dbd8;
}
}

@media (orientation: portrait)
{
   
body 
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: #202020;
    overflow-x: hidden;
}

.card 
{
    height: 500px;
    width: 300px;
    background: rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(150px);
    border-radius:12px;
    border-top: 1px solid rgb(125, 125, 125);
    border-left: 1px solid rgb(125, 125, 125);
    z-index: 2;
    margin-bottom: 40px;

}


.card .content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;

}

.card .content .picture
{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;
}

.card .content .picture img
{
    width: 100%;
    height: 100%;
}

.card .content h1,
.card .content a,
.card .content p
{
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;

}

.card .content a
{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(to bottom, #7d6b91 ,rgb(78, 56, 85));
    width: 200px;
    padding: 8px 0;
    border-radius: 12px;
    margin-top: 40px;
    color: #fff;
}

.card .content h1
{
    margin-bottom: 10px;
}

.card2
{
    height: 500px;
    width: 300px;
    background: rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(150px);
    border-radius:12px;
    border-top: 1px solid rgb(125, 125, 125);
    border-left: 1px solid rgb(125, 125, 125);
    z-index: 2;
    margin-bottom: 40px;
}


.card2 .content2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;

}

.card2 .content2 .picture2
{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;
}

.card2 .content2 .picture2 img
{
    width: 100%;
    height: 100%;
}

.card2 .content2 h1,
.card2 .content2 a,
.card2 .content2 p
{
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;

}

.card2 .content2 a
{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(to bottom, #7d6b91 ,rgb(78, 56, 85));
    width: 200px;
    padding: 8px 0;
    border-radius: 12px;
    margin-top: 40px;
    color: #fff;
}

.card2 .content2 h1
{
    margin-bottom: 10px;
}


.card3
{
    height: 500px;
    width: 300px;
    background: rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(150px);
    border-radius:12px;
    border-top: 1px solid rgb(125, 125, 125);
    border-left: 1px solid rgb(125, 125, 125);
    z-index: 2;
    margin-bottom: 40px;
}


.card3 .content3
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;

}

.card3 .content3 .picture3
{
    width: 170px;
    height: 170px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;
}

.card3 .content3 .picture3 img
{
    width: 100%;
    height: 100%;
}

.card3 .content3 h1,
.card3 .content3 a,
.card3 .content3 p
{
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;

}

.card3 .content3 a
{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(to bottom, #7d6b91 ,rgb(78, 56, 85));
    width: 200px;
    padding: 8px 0;
    border-radius: 12px;
    margin-top: 40px;
    color: #fff;
}

.card3 .content3 h1
{
    margin-bottom: 10px;
}


.container
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}



.block
{
    position: absolute;
    width: 50px;
    height: 50px;
    background: #fff;
    box-shadow:10px 10px 30px rgba(0, 0, 0, 0.25);
}

.block:nth-child(3n+2)
{
    background: #5d536b;
}

.block:nth-child(3n+3)
{
    background: #f4dbd8;
}
 
}